In [3]:
print(bin(3)) #이진수
print(hex(255)) #16진수 0~a,b,c,d,e,f

0b11
0xff

In [7]:
print(ord('A')) #아스키코드 65
print(ord('a')) #97
#오름차순 정렬시에 대문자가 먼저 정렬된다.
print(chr(97))

65
97
a

In [12]:
seasons = ['Spring','Summer','Fall','Winter']
se = enumerate(seasons) #열거형변수를 생성한다.
print(se) #리스트로 캐스팅 하여야 출력이 가능하다. 출력안됨
print(list(se))
se = enumerate(seasons, start=1) #1에서부터 시작
print(list(se))

<enumerate object at 0x0000017C41DE5638>
[(0, 'Spring'), (1, 'Summer'), (2, 'Fall'), (3, 'Winter')]
[(1, 'Spring'), (2, 'Summer'), (3, 'Fall'), (4, 'Winter')]

In [21]:
monarchs = [("대한민국",1),("부산",2),("서울",6),("대전",1)]
monarchs.sort() #앞의 문자로 먼저 비교하고 같을경우 2번째 인덱스를 비교한다.
print(monarchs)

#두번째 데이터를 중심으로 정렬을 원하는 경우
#무명함수
monarchs.sort(key=lambda row:row[1]) #lambda 간단하게 함수를 작성하고자 할때 사용, 무명함수이다.(이름이 없다. 딱한번만 사용한다.)
print(monarchs)
#파이썬에서는 함수도 객체이기 때문에 -> 함수가 변수에 대입이 가능하고 매개변수 전달도 가능하고 리턴값으로도 사용이 가능하다.
#유명함수
la = lambda row:row[1] #매개변수를 하나로 받고 1번 인덱스를 쓴다. / 데이터의 위치를 지정할 때 사용된다.

monarchs.sort(key=lambda row:row[1], reverse=True) #역순으로 정렬이 되어진다.
monarchs

[('대전', 1), ('대한민국', 1), ('부산', 2), ('서울', 6)]
[('대전', 1), ('대한민국', 1), ('부산', 2), ('서울', 6)]

[('서울', 6), ('부산', 2), ('대전', 1), ('대한민국', 1)]

In [24]:
tupl = ('K','o','r','e','a') #()소괄호로 초기화
tupl

('K', 'o', 'r', 'e', 'a')

In [26]:
tupl2 = tuple('Korea') #각각의 문자를 5개의 배열을 갖는 튜블로 저장된다.
tupl2

('K', 'o', 'r', 'e', 'a')

In [28]:
a = ' '.join(tupl)
print(a) #" "로 각각의 요소를 묶어 하나의 문자열을 생성
tupl = a.split(' ')
tupl #각각을 " "로 나누어 각각의 요소로 저장

K o r e a

['K', 'o', 'r', 'e', 'a']

In [31]:
a[0]
a[-1]
len(a)

9

In [34]:
cities=('seoul','incheon','suwon')
cities.index('suwon')
'incheon' in cities
cities.count('seoul')
sorted(cities, reverse=True)
#list와 동일하다.

['suwon', 'seoul', 'incheon']

In [35]:
#%(나누기), //(몫)
num=10
hab=num+10
hab += 10 #더 빠르다.
#-=, /=, %=, //=, **=

In [40]:
abs(1-4*3)
print(int(10**3) + .8)

1000.8

In [41]:
#3항연산자
x = 5
ans = 'Non-negative' if x>=0 else 'Negative'
#참일때의 실행문 if 조건문 else 거짓일때의 실행문

In [44]:
num=0
if num: #false : 0, "", [], {}, (), None(주소값은 있는데 데이터가 없다.)(Null(주소값이 없다. 초기화가 되지 않았다.)과 다르다.)
    print(num)
else:
    print('not num')
city=''
if not city: #if not -> false일 경우에 실행
    print('empty city')
#비교연산자의 결과는 true/false이고
#논리연산자의 and, or, not(!=)

not num
empty city

In [54]:
#문제
#생년월일을 20010203 형식으로 입력을 받아서 출생년도, 월, 일변수에 대입하고
#현재의 날짜를 기준으로 나이를 계산하고 18살 미만이면 미성년자로 출력하시오.
import datetime
today = datetime.datetime.now()

birthday = input("생년월일을 입력하시오 (ex)20010203)")
year = birthday[:4]
month = birthday[4:6]
day = birthday[6:]
print(year)
print(month)
print(day)

if (int(today.year)-int(year)) < 18:
    print("미성년자입니다.")

생년월일을 입력하시오 (ex)20010203)20100706
2010
00
06
미성년자 입니다.

In [55]:
import datetime
dt = datetime.datetime.now()
print(dt)
print(type(dt))
print(dt.year) #멤버변수로 출력된다.
print(dt.month)
print(dt.day)

2020-07-09 15:21:03.064361
<class 'datetime.datetime'>
2020
7
9

In [57]:
age=input("생년월일을 20200102 형태로 입력하시오")
year = int(age[0:4])
month = int(age[4:6])
day = int(age[6:8])
year_diff= dt.year-year
month_diff = dt.month-month
day_diff = dt.day-day

if day_diff<0:
    month_diff -=1
if month_diff<0:
    year_diff -=1
print("당신의 나이는 ",year_diff+1) #만이라 +1
if year_diff < 18:
    print("당신은 미성년자 입니다.")
else:
    print("당신은 미성년자가 아닙니다.")

생년월일을 20200102 형태로 입력하시오20010506
당신의 나이는  20
당신은 미성년자가 아닙니다.

In [63]:
a = 10; b=20
c=a+b
print("두수의 합은 =", c)
d=30; e=40
f=d+e
print("두수의 합은 =", f)
g=50; h=60
i=g+h
print("두수의 합은 =", i)

#함수를 작성해야 한다.
def hab(a,b):
    return print(str(a)+" , "+str(b)+" 두수의 합은 = "+str(a+b))

hab(10,20)
hab(30,40)
hab(50,60)

두수의 합은 = 30
두수의 합은 = 70
두수의 합은 = 110
10 , 20 두수의 합은 = 30
30 , 40 두수의 합은 = 70
50 , 60 두수의 합은 = 110

In [66]:
#점수를 입력받아서 A,B,C,D,F 학점을 출력하시오(if)

def score(num):
    if num>=90:
        return 'A'
    elif num>=80:
        return 'B'
    elif num>=70:
        return 'C'
    elif num>=60:
        return 'D'
    else:
        return 'F'

num = input("점수를 입력하시오")
char = score(int(num))
print(char)

점수를 입력하시오85
B

In [ ]:
print("점수를 입력하시오", end=" ")
jumsu = int(input())
if jumsu >= 90: print('A')
elif jumsu >= 80: print('B')
elif jumsu >= 70: print('C')
elif jumsu >= 60: print('D')
else: print('F')

#print문은 가급적 줄이는 것이 좋다.

In [74]:
#다음 표(color와 mode)에 따른 날씨를 if문을 이용하여 출력해 보시오
#반응에따른 날씨 예측 프로그램
#             blue       red      - 옷의 색깔
#  steady     화창     비오는날
#  flashing  구름      눈오는날
#  걸음걸이(외관을 보고 날씨를 맞추는것)

color = input("사람들의 옷색깔(blue/red)을 입력하시오")
mode = input("사람들의 분위기(steady/flashing)를 입력하시오")
weather = ""

if color=="blue": 
    if mode=="steady": weather="화창"
    else: weather="구름"
elif color=="red":
    if mode=="steady": weather="비오는날"
    else: weather="눈오는날"
else:
    print("날씨 예측이 불가합니다.")

print("오늘의 날씨는",weather,"이 예측됩니다.")

사람들의 옷색깔(blue/red)을 입력하시오red
사람들의 분위기(steady/flashing)를 입력하시오flashing
오늘의 날씨는 눈오는날 이 예측됩니다.

In [76]:
#수입과 지출을 입력받아서 순수입을 출력하는 프로그램을 작성하시오
#제약조건 : 소수점 2자리까지 출력하시오
#수입과 지출이 동일한 경우를 고려하시오
#결과에따라 순수입, 순지출도 같이 출력하도록 하시오
#변수명은 변수가 가진 값의 의미를 함축하여 표현하시오

income = input("수입을 입력하시오")
spend = input("지출을 입력하시오")
print("이번달 수입은 ",round(int(income),2),"이고, 지출은 ",round(int(spend),2),"입니다.")

money = int(income)-int(spend)
if money==0 : print("수입과 지출이 동일합니다. 손익분기점 입니다.")
elif money>0 : print("이번달 순수입은 ",money,"입니다.")
else: print("이번달 순지출은 ",money,"입니다.")

# result = "순손실={0:,.2f}".format(round(loss,2)) #둘째자리까지 반올림하고 둘째자리까지 표기
#result = "순이익 = {0:,.3f}".format(round(cost,2)) #둘째자리까지 반올림하고 셋째자리까지 표기

수입을 입력하시오85
지출을 입력하시오75
이번달 수입은  85 이고, 지출은  75 입니다.
이번달 순수입은  10 입니다.

In [77]:
elements = ["earth",'air','fire','water']
for i in elements: #for문을 이용한 list 요소출력
    print(i, end=" ") #출력결과는 리스트가 아니다.

earth air fire water

In [89]:
range(10)
print(list(range(10))) #시작지점 0이고 10개 n개
print(list(range(1,11))) #start,end(n-1)
print(list(range(1,11,2))) #2씩증가
print(list(range(11,1,-2))) #1은 출력이안된다.
range(11,1) #이것은 []으로 출력된다. -n을 해주던지 reversed사용하던지 해야한다.
print(list(reversed(range(1,10,2)))) #거꾸로 출력된다.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[11, 9, 7, 5, 3]
[9, 7, 5, 3, 1]

In [92]:
for i in range(5):
    print(i, end=" ")
print()
for i in range(2,5):
    print(i, end=" ")
print()
for i in range(4):
    print(elements[i], end=" ")

0 1 2 3 4
2 3 4
earth air fire water

In [95]:
#iterator
mytable = ("apple","banana","cherry")
mit=iter(mytable)
print(next(mit))
print(next(mit))
print(next(mit)) #없는곳까지하면 error가 난다.(요소의 개수까지 가능)
#출력후에 다음걸로 이동한다.

apple
banana
cherry

In [97]:
#1~100 : 5050, 500500(천까지의합), 50005000(만까지의합)
sum=0 #초기화 시켜주어야 쓸 수 잇다.(null값 못씀)
for x in range(1,11):
    sum += x #누적변수
    #i = i+1 증가변수
print(sum)

55

In [99]:
for x in range(2,4):
    print()
    for y in range(2, 10): #위에놈 2가돌때 이놈은 2~9까지돔
        print(x, "*", y, "=", x*y)

2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [104]:
#문제 : 구구단을 출력하여라
for x in range(2,10):
    print()
    for y in range(2, 10): #위에놈 2가돌때 이놈은 2~9까지돔
        if x*y <10:
            print(y, "*", x, "=", x*y, end="    ")
        else:
            print(y, "*", x, "=", x*y, end="   ")

2 * 2 = 4    3 * 2 = 6    4 * 2 = 8    5 * 2 = 10   6 * 2 = 12   7 * 2 = 14   8 * 2 = 16   9 * 2 = 18
2 * 3 = 6    3 * 3 = 9    4 * 3 = 12   5 * 3 = 15   6 * 3 = 18   7 * 3 = 21   8 * 3 = 24   9 * 3 = 27
2 * 4 = 8    3 * 4 = 12   4 * 4 = 16   5 * 4 = 20   6 * 4 = 24   7 * 4 = 28   8 * 4 = 32   9 * 4 = 36
2 * 5 = 10   3 * 5 = 15   4 * 5 = 20   5 * 5 = 25   6 * 5 = 30   7 * 5 = 35   8 * 5 = 40   9 * 5 = 45
2 * 6 = 12   3 * 6 = 18   4 * 6 = 24   5 * 6 = 30   6 * 6 = 36   7 * 6 = 42   8 * 6 = 48   9 * 6 = 54
2 * 7 = 14   3 * 7 = 21   4 * 7 = 28   5 * 7 = 35   6 * 7 = 42   7 * 7 = 49   8 * 7 = 56   9 * 7 = 63
2 * 8 = 16   3 * 8 = 24   4 * 8 = 32   5 * 8 = 40   6 * 8 = 48   7 * 8 = 56   8 * 8 = 64   9 * 8 = 72
2 * 9 = 18   3 * 9 = 27   4 * 9 = 36   5 * 9 = 45   6 * 9 = 54   7 * 9 = 63   8 * 9 = 72   9 * 9 = 81

In [108]:
# 내장리스트
a=[i for i in range(10)] #리스트 안에 for문이 들어있다.(0~9까지의 i를 앞으로 출력시켰다.)
type(a)
a=[i for i in range(1,1000,2)]
print(a)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199, 201, 203, 205, 207, 209, 211, 213, 215, 217, 219, 221, 223, 225, 227, 229, 231, 233, 235, 237, 239, 241, 243, 245, 247, 249, 251, 253, 255, 257, 259, 261, 263, 265, 267, 269, 271, 273, 275, 277, 279, 281, 283, 285, 287, 289, 291, 293, 295, 297, 299, 301, 303, 305, 307, 309, 311, 313, 315, 317, 319, 321, 323, 325, 327, 329, 331, 333, 335, 337, 339, 341, 343, 345, 347, 349, 351, 353, 355, 357, 359, 361, 363, 365, 367, 369, 371, 373, 375, 377, 379, 381, 383, 385, 387, 389, 391, 393, 395, 397, 399, 401, 403, 405, 407, 409, 411, 413, 415, 417, 419, 421, 423, 425, 427, 429, 431, 433, 435, 437, 439, 441, 443, 445, 447, 449, 451, 453, 455, 457, 459, 461, 463, 465, 467, 469, 471, 473, 475, 477, 479, 481, 483, 485, 487, 489, 491, 493, 495, 497, 499, 501, 503, 505, 507, 509, 511, 513, 515, 517, 519, 521, 523, 525, 527, 529, 531, 533, 535, 537, 539, 541, 543, 545, 547, 549, 551, 553, 555, 557, 559, 561, 563, 565, 567, 569, 571, 573, 575, 577, 579, 581, 583, 585, 587, 589, 591, 593, 595, 597, 599, 601, 603, 605, 607, 609, 611, 613, 615, 617, 619, 621, 623, 625, 627, 629, 631, 633, 635, 637, 639, 641, 643, 645, 647, 649, 651, 653, 655, 657, 659, 661, 663, 665, 667, 669, 671, 673, 675, 677, 679, 681, 683, 685, 687, 689, 691, 693, 695, 697, 699, 701, 703, 705, 707, 709, 711, 713, 715, 717, 719, 721, 723, 725, 727, 729, 731, 733, 735, 737, 739, 741, 743, 745, 747, 749, 751, 753, 755, 757, 759, 761, 763, 765, 767, 769, 771, 773, 775, 777, 779, 781, 783, 785, 787, 789, 791, 793, 795, 797, 799, 801, 803, 805, 807, 809, 811, 813, 815, 817, 819, 821, 823, 825, 827, 829, 831, 833, 835, 837, 839, 841, 843, 845, 847, 849, 851, 853, 855, 857, 859, 861, 863, 865, 867, 869, 871, 873, 875, 877, 879, 881, 883, 885, 887, 889, 891, 893, 895, 897, 899, 901, 903, 905, 907, 909, 911, 913, 915, 917, 919, 921, 923, 925, 927, 929, 931, 933, 935, 937, 939, 941, 943, 945, 947, 949, 951, 953, 955, 957, 959, 961, 963, 965, 967, 969, 971, 973, 975, 977, 979, 981, 983, 985, 987, 989, 991, 993, 995, 997, 999]

In [113]:
[ i**2 for i in range(10)] #제곱인 수를 가지는 list
{i:i**3 for i in range(10)} #키와 데이터로 dict에서도 사용이 가능하다.
[i**2 for i in range(10) if i%2==0] #제곱인 값들 중에 짝수인 값들을 가진다.

[0, 4, 16, 36, 64]

In [119]:
rows = range(1,5)
cols = range(10,15)
vectors = [(r,c) for r in rows for c in cols] #이중for문 row가 한바퀴돌때 col이 다섯바퀴돌면서 수를 만들어낸다.
#앞에놈 먼저돌고 뒤에놈 난중에돌고 수치의 조합을 만들어냈다.
vectors2 = [(r,c) for r in rows if r%2 for c in cols if c%2] #홀수만 만들어져서 나온다 왜냐하면 나머지가 0이면 false이기 때문에오
print(vectors)
print(vectors2)

[(1, 10), (1, 11), (1, 12), (1, 13), (1, 14), (2, 10), (2, 11), (2, 12), (2, 13), (2, 14), (3, 10), (3, 11), (3, 12), (3, 13), (3, 14), (4, 10), (4, 11), (4, 12), (4, 13), (4, 14)]
[(1, 11), (1, 13), (3, 11), (3, 13)]

In [3]:
#문제 : 3인분의 성적프로그램을 만들기
#3명의 데이터를 입력한다.
#합계, 평균(소수점2째자리까지), 석차, 학점을 출력합니다.
#입력데이터는 번호, 이름, 국어, 영어, 수학
#처리순서는 입력, 처리, 출력으로 구분해서 처리합니다.
students = []

for i in range(3):
    student = input("학생의 번호, 이름, 국어, 영어, 수학 점수를 입력하시오") 
    #75,정예원,95,95,100, 76,이준협,95,85,100, 77,전고은,85,95,90
    students.append(student.split(","))


def total(name,kor,eng,mat):
    tot = int(kor)+int(eng)+int(mat)
    average = round(tot/3, 2)
    if average>=90 : hak='A'
    elif average>=80 : hak='B'
    elif average>=70 : hak='C'
    elif average>=60 : hak='D'
    else: hak='F'
    print(name," 학생의 총 점수는 ",tot,"점, 평균은 ",average,"점, 학점은 ", hak,"입니다.")
    return tot

for i in range(len(students)):
    students[i].append(total(students[i][1],students[i][2],students[i][3],students[i][4]))
    
print(students)

def sort(students):
    students.sort(key=lambda row:row[5], reverse = True)
    for i in range(len(students)):
        print(students[i][1],"의 석차는 ",i+1,"등입니다.")
    
sort(students)

학생의 번호, 이름, 국어, 영어, 수학 점수를 입력하시오75,정예원,95,95,100
학생의 번호, 이름, 국어, 영어, 수학 점수를 입력하시오76,이준협,95,85,100
학생의 번호, 이름, 국어, 영어, 수학 점수를 입력하시오77,전고은,85,95,90
정예원  학생의 총 점수는  290 점, 평균은  96.67 점, 학점은  A 입니다.
이준협  학생의 총 점수는  280 점, 평균은  93.33 점, 학점은  A 입니다.
전고은  학생의 총 점수는  270 점, 평균은  90.0 점, 학점은  A 입니다.
[['75', '정예원', '95', '95', '100', 290], ['76', '이준협', '95', '85', '100', 280], ['77', '전고은', '85', '95', '90', 270]]
정예원 의 석차는  1 등입니다.
이준협 의 석차는  2 등입니다.
전고은 의 석차는  3 등입니다.