In [ ]:
import pandas as pd
ps = pd.Series(100, index=[10,11,12]) #넘파이와 다르게 시리즈에 인덱스를 지정하여 줄수있다(디폴트는 정수형 인덱스)
#인덱스 = 행이름
print(ps)
type(ps) #데이터타입은 자동으로 인식한다.

In [ ]:
data = {'a':0., 'b':1., 'c':2.} #key(행이름)인덱스로 dict자료형 생성
s = pd.Series(data)
print(s['a'])
s = pd.Series(data, index=['b', 'c', 'd', 'a'])
print(s['a'])
print(s['d']) #데이터가 없으면 na값으로 들어간다. -> 데이터는 인덱스 중심이다.(인덱스를 생성하면 데이터가 없어도 공간을 할당한다.)
list(s)

In [ ]:
data.keys()
s.keys()
#key값을 호출

In [ ]:
list(s.items()) #리스트에 담아야 출력된다.
#인덱스와 값의 조합

In [ ]:
data.values() #리스트의 값은 안되고 dict자료형의 값만 사용이 가능한 함수이다.
#key를 제외하고 값만 호출

In [ ]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print("인덱스에 의한 출력",s[0]) #정수형 인덱스는 자동으로 만들어진다.(numpy를 상속받았기 때문에)
print("키에 의한 출력",s['a'])
print(s['a':'c']) #key값 범주형으로도 범위를 줄 수 있다.
print(s[:3])
print("음수",s[-3:]) #뒤에서 3번째부터 끝까지
s['a']=100
print(s['a'])
s['f']=200 #없는 값도 추가가능 - 클래스에서 실시간으로 멤버변수 추가가능
print(s['f'])
print("필터링에 의한 출력", s[s>4])
print(s)
print(s*2) #broadcasting지원된다. for문 없이 돌려서 연산
print(s)

In [ ]:
import numpy as np
data = np.array(['a','b','c','d','d']) #values값만 입력 RangeIndex(start=0, stop=5, step=1) 로 자동으로 인덱스를 생성하였다.
s = pd.Series(data)
print("시리즈 데이터 ", s.values)
print(s.values)
print(s.index)
print(s.index.values)
print(s[0])
print(s.head())
print(s.value_counts()) #도수분포표 - 2개로 출력된다.
#r에서의 도수분포표 -> table
#value_count가 그 역할을 한다.
print(s.value_counts(normalize = True)) #합이 1인 분포값으로 정규화된다.
print(s.describe()) #dtype, count, unique, top, freq
#시리즈도 numpy를 상속받았기 때문에 넘파이함수를 사용가능하다.
print("데이터 타입은 ", s.dtype)
print("차원",s.ndim)
print("차수", s.shape)

In [ ]:
sdata={'Ohio':35000, "Texas":71000, 'Oregon':16000, 'Utah':5000}
obj3 = pd.Series(sdata)
print(obj3.shape)
states=['California','Ohio','Oregon','Texas']
obj4 = pd.Series(sdata, index=states) #키는 있고 데이터가 없으면 null이 되고 데이터가 있는데 키가 없으면 삭제된다.
#키중심니다.
print(obj4)
print(obj3.index) #['Ohio', 'Texas', 'Oregon', 'Utah']
print(obj4.index) #['California', 'Ohio', 'Oregon', 'Texas']
print(pd.isnull(obj4)) #null이냐
print(pd.notnull(obj4))
print(obj3)
print(obj4)
print(obj3+obj4) #키는 다 존재 : numpy는 행열이 일치하거나 brodacasting 조건을 만족해야한다.(열이 일치해야한다.)
#pandas 조건이 없이 키를 중심으로한 연산이다.
#numpy는 차원이 일치하거나 브로드캐스팅의 조건을 만족해야하고
#pandas는 키를 중심으로 연산한다.

In [ ]:
import matplotlib.pyplot as plt
data = np.random.randn(25,4) #랜덤으로 행25개 열4개 데이터 생성 , randn-n=normalize(정규분포)
df = pd.DataFrame(data, columns=list('ABCD'))
ax = df.plot.box() #매개변수로 줄수도 있고 함수 호출할수도 있다.
plt.show()

In [ ]:
s = pd.Series([1,2,2.5,3,3.5,4.5])
s.plot.kde(bw_method=1) #kernel density estimate(밀도 구할때 데이터가 없으면 보간법으로 만들어진다.)
#중간에 없는값은 보간법을 이용해서 그렸다.
#bw_method=0.3 를 작게주니까 과대적합된다. 크게주면 평평해진다. (데이터 추정간격)
plt.show()

In [ ]:
import pandas as pd
#dataframe은 series의 집합이다. = 열중심
#시리즈는 하나의 열을 형성한다.
#numpy = 행중심
area = pd.Series({'서울':423967, '부산':695662, '대전':141297, '청주':170312, '수원':149995})
pop = pd.Series({'서울':38332521, '부산':26448193, '대전':19651127, '청주':1955860, "수원":12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

In [ ]:
data.index #행이름

data.columns #열이름

In [ ]:
data['area'] #열이름(큰범주)

In [ ]:
data.loc['대전'] #행이름의 키를 줄때 사용 = loc

In [ ]:
data.area #점으로도 접근이 가능하다.

In [ ]:
data.area is data['area']

In [ ]:
data['density']=data['pop']/data['area'] #실시간으로 변수를 추가
data

In [ ]:
data.T # matrix처럼 전치가 가능

In [ ]:
data.values #ndarray로 출력

In [ ]:
data.values[0] #데이터의 행이 나타남

In [ ]:
data.values[0,1] #0행 1열의 데이터가 나타난다.

In [ ]:
data

In [ ]:
data.iloc[:3,:2] #정수형인덱스

In [ ]:
data.loc[:'대전',:'pop'] #인덱스도 순서가 보장된다.

In [ ]:
data.loc[data.density>100, ['pop','density']] #데이터 벨류값에 조건을 주어 원하는 부분만 추출

In [ ]:
ind = pd.Index([1,2,3,4,5]) #인덱스도 배열처럼 작동한다.
print(ind)
print(ind[1])
print(ind[::2]) #2씩증가하면서
print(ind.size, ind.shape, ind.ndim, ind.dtype) #인덱스가 numpy처럼 작동한다.

In [ ]:
indA = pd.Index([1,2,3,4,5])
indB = pd.Index([2,3,5,7,11])
print(indA & indB) #교집합
print(indA | indB) #합집합
print(indA ^ indB) #합집합-교집합 = sysmetric diffrence

In [ ]:
#문제 
name = pd.Series(['김하나','이하나','삼하나','사하나','오하나','육하나','칠하나','팔하나'])
age = pd.Series([25,26,25,23,30,29,23])
rating =  pd.Series([4.23,3.24,3.98,2.56,3.20,4.60,3.80])
#위의 3가지 시리즈로 데이터 프레임을 생성
#데이터 타입을 확인
#차원을 확인, 차수를 확인
#전체 데이터 사이즈는
#값들만 출력

data = pd.DataFrame({'Name':name, 'Age':age, 'Rating':rating})
print(data)
print(type(data))
print("사이즈", data.size, "shape", data.shape, "dim", data.ndim)
print(data.values)

In [ ]:
dt = {'name' : pd.Series(['김하나','이하나','삼하나','사하나','오하나','육하나','칠하나','팔하나']),
'age' : pd.Series([25,26,25,23,30,29,23]),
'rating' :  pd.Series([4.23,3.24,3.98,2.56,3.20,4.60,3.80])}
df = pd.DataFrame(dt)
print(df.dtypes)
print(df.ndim) #차원
print(df.shape) #차수
print(df.size) #데이터 사이즈
print(df.values)

In [ ]:
df.axes #행은 rangeindex(정수형인덱스)로 되어있고 열은 문자열 인덱스
#인덱스 = 행이름
#인덱스를 만드는,생성하는 클래스 객체가 인덱스다.

In [ ]:
df.columns #컬럼에 들어가있는 객체가 인덱스이다.

In [ ]:
df.head(2) #앞에꺼 n개

In [ ]:
df.tail(2) #뒤에써 n개

In [ ]:
df.sum() #열별 합계를 출력, dtype: object->데이터 프레임은 object다.

In [ ]:
df.mean() #문자열은 계산하지 않는다.(문자열 +,*는 가능)

In [ ]:
df.std()

In [ ]:
df.describe()
#시리즈와 출력되는 값이 다른데
#df에서는 숫자형 데이터에 대하여 사분위수를 출력한다.

In [ ]:
df.describe(include='all') #문자열도 리턴된다.
#모든값들을 리턴하라.

In [ ]:
df

In [ ]:
df['name'] #key로 주면 열이 우선하고

In [ ]:
df[:2] #숫자로 주면 행이 우선한다.

In [ ]:
df[-1:]

In [ ]:
df[7:]

In [ ]:
df.tail(1)

In [ ]:
df.iloc[-1]

In [ ]:
#문제
data = {'state':['경기','강원','서울','충북','인천'],
        'year':[2000,2001,2002,2001,2002],
        'pop':[1.5,1.7,3.6,2.4,2.9]}
data1 = pd.DataFrame(data, index=['one','two','three','four','five'])

print(data1['state'])
data1['debt'] = 16.5
print(data1)
data1['estern'] = False;
for i in range(len(data1['state'])):
    if data1.iloc[i,0]=='서울':
        data1.iloc[i,4] = True
print(data1)

#df['estern'] = np.where(df['state']=='서울','True','False')
#df['estern'] = data['state']=='서울'

debt = pd.Series([-1.2,-1.5,-1.7], index=['two','three','five'])
data1['debt'] = debt
print(data1)

In [ ]:
data1.state.sort_index()

In [ ]:
data1.state.sort_values() #열, 시리즈 결과가 시리즈로 나온다.
#결과가 하나의 열로 출력된다.

In [ ]:
data1.sort_values('state') #데이터 전체를 정렬한 값을 리턴한다

In [ ]:
data1.sort_values('year')

In [ ]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0,10,4)) #0에서 10사이에 4개
ser

In [ ]:
df = pd.DataFrame(rng.randint(0,10,(3,4)), columns=['A','B','C','D'])
df

In [ ]:
np.exp(ser) #시리즈 데이터를 np에 있는 단항연산함수에 넣으면 for 문없이 한꺼번에 처리된다

In [ ]:
np.sin(df*np.pi/4) #numpy에 매개변수에서 numpy를 dataframe이 대신할 수 있다.

In [ ]:
A = pd.DataFrame(rng.randint(0,20,(2,2)), columns=list('AB')) #2행2열로 만들어라
B = pd.DataFrame(rng.randint(0,10,(3,3)), columns=list('BAC')) #3행3열로 만들어라
print(A)
print(B)

In [ ]:
A+B #결과나올때는 BAC->ABC로 정렬되어 나온다.

In [ ]:
fill = A.stack().mean()
A.add(B, fill_value=fill) #위의 식에서 구해진 값으로 채워진다.

In [ ]:
A.stack() #다중인덱스가 생성된다.
#데이터를 재편하기 위해서 다른모습으로 변환하기 위해서 쌓는다.

In [ ]:
a = np.logspace(0.1,1,20, endpoint=True) #logspace() - 비선형으로 데이터 생성할때 사용(1~10의 값이된다.)
#endpoint=True -> 1도 가능하다.
#linspace - 선형으로 만들었었다.
print(a)
plt.plot(a,'o')
plt.show()

In [ ]:
data = {'name' : ['하늘이','박찬호','우리야','함께가','성공해'],
       'age' : [40,50,30,20,70],
       'preScore' : [14,28,39,25,30],
       'postScore' : [20,90,55,65,79]}
df = pd.DataFrame(data,columns=['name','age','preScore','postScore'])
print(df.dtypes)
print(df['age'].sum())
print(df['preScore'].cumsum()) #누적합
print(df['preScore'].describe()) #분위수
print(df['preScore'].var()) #분산
print(df['preScore'].std()) #표준편차
print(df['preScore'].skew()) #왜도 : 기준값=0(0이 정규분포 좌우대칭이다.)
print(df['preScore'].kurt()) #첨도 : 기준값=3(3이 정규분포)

In [ ]:
print(df.corr()) #상관계수 -> 정방행렬, 대칭행렬
#숫자인 열을 대상으로 한다
#열간의 상관계수를 계산

In [ ]:
print(df.var()) #하나의 시리즈 계산도 가능하지만 데이터 프레임 계산도 가능하다.
print(df.std())

In [ ]:
df.gt(df) #얘가 얘보다 크냐

In [ ]:
df.eq(df) #얘가 얘랑 같으냐

In [ ]:
(df['age']>0).all() #모두가 만족하느냐

In [ ]:
(df['age']>0).any() #하나라도 만족하느냐

In [ ]:
df1 = pd.DataFrame({'col':['foo',0,np.nan]})
df2 = pd.DataFrame({'col':[np.nan,0,'foo']}, index=[2,1,0])
df3 = pd.DataFrame({'col':[1,2,3]}, index=[2,1,0])
print(df3.sort_values(by=['col'])) #값을 기준으로 정렬이 되고
#print(df2.sort_values(by=['col'])) #값을 기준으로 정렬이 안된다.(다양한 자료형의 값이 섞여있기 때문에)
print(df1.equals(df2)) #False 데이터는 같지만 순서가 다르기 때문이다.(요소단위로 비교하기 때문 인덱스까지 고려하지 않는다.)
print(df1.equals(df2.sort_index())) #인덱스로 정렬하고 봐서는 순서가 같다.
print(df3.sort_values(by=['col']))

In [ ]:
#              2018    2017   2016   2015   2015-2018 증가율
#서울 수도권 9904312 9631482 9762546 9853972 0.0283
#부산 경상권 3448737 3393191 3512547 3655437 0.0163
#인천 수도권 2890451 2632035 2517680 2466338 0.0982
#대구 경상권 2466052 2431774 2456016 2473990 0.0141

#문제
#'2015-2018 증가율'을 %로 변경하시오
#2015-2017의 증가율을 구해서 변수에 추가하시오
#열이름 : '2015-2017 증가율'

data = {'2018' : [9904312,3448737,2890451,2466052],
       '2017' : [9631482,3393191,2632035,2431774],
       '2016' : [9762546,3512547,2517680,2456016],
       '2015' : [9853972,3655437,2466338,2473990],
       '2015-2018 증가율' : [0.0283,0.0163,0.0982,0.0141]}
df = pd.DataFrame(data,index=['서울 수도권','부산 경상권','인천 수도권','대구 경상권'])
df['2015-2018 증가율'] = df['2015-2018 증가율']*100
df['2015-2017 증가율'] = round((df['2017']-df['2015'])/df['2015'] *100,2)
df

In [ ]:
data = {"서울": ['수도권', 9904312, 9631482, 9762546, 9853972, 0.0283],
       "부산": ['경상권', 3448737, 3393191, 3512547, 3655437, 0.0163],
       "인천": ['수도권', 2890451, 2632035, 2517680, 2466338, 0.0982],
       "대구": ['경상권', 2466052, 2431774, 2456016, 2473990, 0.0141]}
columns=['지역','2018','2017','2016','2015','2015-2018증가율']
index = ['서울','부산','인천','대구']
df = pd.DataFrame(data)
df = df.T #전치시킨후에 대입해주었다.
#데이터 프레임은 전치가 가능하다.
df.columns = columns
df['2015-2018증가율']=df['2015-2018증가율']*100
df['2015-2017증가율']=(df['2017']-df['2015'])/df['2015']*100
df

In [ ]:
frame = pd.DataFrame((np.random.randn(4,3)),columns=list(['rain','income','tax']), index=['seoul','incheon','daegu', 'busan'])
#4,3으로 4개의 인덱스 3개의 컬럼이 들어가야 한다.
print(frame)
print("absolute함수적용", np.abs(frame))
f = lambda x : x.max()-x.min() #무명함수
print(frame.apply(f,axis=0)) #열(행방향)으로 적용하였고, 요소별로 적용하는 것이 아니고 한행에 대해서 최고값-최소값 계산 결과가 나온다.
print(frame.apply(f,axis=1)) #행(열방향)으로 적용하였다.

In [ ]:
def f(x):
    return pd.Series([x.min(),x.max()], index=['min','max'])
print(frame.apply(f)) #apply다음에 함수를 호출할때는 f뒤의 괄호를 생략한다.(함수 호출이 아니라 전달이기 때문에)
#함수의 주소값만 전달하기떄문이다. (결과값이 아니라.)
print(type(frame.apply(f))) #데이터 타입이 변하지 않는다.
format = lambda x: '%.2f' %x
print(frame.applymap(format)) #applymap = 모든 요소에 각각 적용이 된다.
print(frame['rain'].map(format)) #map = 시리즈(열)에 적용이 된다.

In [ ]:
data = np.random.rand(2,4,5)
p = pd.Panel(data)

In [ ]:
from pandas import DataFrame
Data = {"실업율":[6.1,5.8,5.7,5.7,5.8,5.6,5.5,5.3,5.2,5.2],
       "주가지수":[1500,1520,1525,1523,1515,1540,1545,1560,1555,1565]}

In [ ]:
df = DataFrame(Data,columns=["실업율","주가지수"])
df.plot(x="실업율", y="주가지수", kind="scatter")

In [ ]:
df = DataFrame(Data,columns=["실업율","주가지수"])
df.plot(x="실업율", y="주가지수", kind="line")

In [ ]:
data = {'국가':['미국','캐나다','한국','일본','중국'],
       '2030GDP':[5000,6000,20000,1000,500]}
df = DataFrame(data,columns=['국가','2030GDP'])
print(df)

In [ ]:
df.plot(x='국가', y='2030GDP', kind='bar')

In [ ]:
df.plot.pie(y='2030GDP', figsize=(5,5), autopct='%1.1f%%', startangle=90)

In [ ]:
df2 = pd.DataFrame(np.random.rand(10,4), columns=['a','b','c','d'])
df2.plot.bar()
df2.plot.barh()
df2.plot.barh(stacked=True)
df2.plot.hist(alpha=0.5)
df2.plot.hist(stacked=True, bins=20)

In [ ]:
# df2.plot.box(vert=False, positions=[1,4,5,6])
df2.plot.box(vert=True, positions=[1,4,5,6])
df2.plot.area()

In [ ]:
#pandas에서 문자열을 지원하는데 벡터화 문자열이다.
#벡터화 문자열은 파이썬코어의 문자열함수, 정규표현식의 함수들을 모두 구현해 놓았다.
#multi core병렬연산을 지원한다.(벡터화 -> 속도가 빠르다.)
monte = pd.Series(['sky rounge','blue taxi','earth owner','happy new year'])
monte.str.upper() #시리즈 객체밑에 str객체가 있어서 monte데이터에 각요소에 upper함수가 적용된다.

In [ ]:
monte.str.len()

In [ ]:
monte.str.startswith('h') #첫글자를 확인할 때 쓴다.

In [ ]:
print(monte.str.split()) #공백을 기준으로 나눈다.(나누어서 list에 각 요소로 담는다.)
type(monte.str.split())

In [ ]:
monte.str.extract('([A-Ta-t]+)', expand=True) #([A-Za-z]+)까지로 이루어진놈이 여러개 있다.
#추출한 것이다.
#expand=True 데이터 프레임으로 추출
#expand=false 별도의 데이터로 갖고옴

In [ ]:
monte.str.findall(r'^[^AEIOU].*[^aeiou]$')
#문자열앞에 r이있으면 정규표현식으로 해석하라는 것이다.
# ^는 처음에
#[]는 선택
#[^]대괄호 안에서 꺽쇠는 부정의 의미
#$는 끝에
# -> 모음으로 시작하지 않고 모음으로 끝나지 않는 단어의 색출

In [ ]:
monte.str[0:3]
#처음 3글자만 가져온다.

In [ ]:
monte.str.split().str.get(-1) #나누고 뒤에있는 놈들을 가져온다.
#나눈후의 데이터는 시리즈로 리턴된다.

In [1]:
#문제
#성적을 5개를 입력한 다음 ->list
#데이터 프레임으로 생성하고 -> dataframe으로 생성
#과목별 sum, average, var, std, skew, kurt, var, corr을 구하시오.
import pandas as pd
import sys

class Student:
    def __init__(self):
        self.bunho=0
        self.name=''
        self.kor=0
        self.mat=0
        self.eng=0
    def inputData(self):
        self.name=input("이름을 입력하시오")
        self.kor=eval(input("국어점수를 입력하시오"))
        self.mat=eval(input("수학점수를 입력하시오"))
        self.eng=eval(input("영어점수를 입력하시오"))
        
class Management:
    schoolname='부산아카데미'
    bunho=0
    def __init__(self):
        self.sungjuk=[]
    def inputinfo(self):
        for i in range(5):
            stu = Student() #1인분 데이터 생성
            stu.inputData()
            Management.bunho+=1#전역변수+1
            stu.bunho=Management.bunho #번호생성해서 대입
            self.sungjuk.append(stu) #변수에 append해서 학생대입(2차원배열)
        self.data = pd.DataFrame(self.sungjuk)
        return self.data
        
menu=["입력(1), 종료(2)"]
class menuclass: #management 호출 클래스
    def __init__(self):
        self.man_sung=Management()
    def play(self):
        while 1:
            sel=input(menu)
            if sel=="1":
                self.data = self.man_sung.inputinfo()
                print(self.data)
                continue
            elif sel=="2":
                sys.exit()
            else:
                print("잘못된 선택입니다. 다시 입력해 주세요.")
                continue
                
sung_play = menuclass()
sung_play.play()

['입력(1), 종료(2)']1
이름을 입력하시오정예원
국어점수를 입력하시오80
수학점수를 입력하시오90
영어점수를 입력하시오100
이름을 입력하시오이준협
국어점수를 입력하시오80
수학점수를 입력하시오60
영어점수를 입력하시오70
이름을 입력하시오정예원
국어점수를 입력하시오90
수학점수를 입력하시오50
영어점수를 입력하시오60
이름을 입력하시오이준협
국어점수를 입력하시오50
수학점수를 입력하시오10
영어점수를 입력하시오80
이름을 입력하시오정예원
국어점수를 입력하시오60
수학점수를 입력하시오40
영어점수를 입력하시오80
                                                 0
0  <__main__.Student object at 0x0000021D1EAC7AC8>
1  <__main__.Student object at 0x0000021D1EAAA388>
2  <__main__.Student object at 0x0000021D1EAAA3C8>
3  <__main__.Student object at 0x0000021D1CA24488>
4  <__main__.Student object at 0x0000021D1C8F9108>
['입력(1), 종료(2)']2

SystemExit:

C:\Users\gram\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3339: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [26]:
#문제
#성적을 5개를 입력한 다음 ->list
#데이터 프레임으로 생성하고 -> dataframe으로 생성
#과목별 sum, average, var, std, skew, kurt, var, corr을 구하시오.

students = []
name=[]
for i in range(5):
    student = input("학생의 이름, 국어, 영어, 수학 점수를 입력하시오") 
    students.append(student.split(",")[1:])
    name.append(student.split(",")[0])
    
data = pd.DataFrame(students, columns=['국어','영어','수학'], index=name)
# 이준협,100,95,80
# 정예원,100,100,100
# 전고은,80,70,60
# 이준땡,80,67,50
# 정똥고,80,90,70

def total(data):
    data['국어'] = pd.to_numeric(data['국어'])
    data['영어'] = pd.to_numeric(data['영어'])
    data['수학'] = pd.to_numeric(data['수학'])
    data['합계'] = data.apply(lambda x : x.sum(),axis=1)
    data['평균'] = data.apply(lambda x : x.mean(),axis=1)
    data['분산'] = data.apply(lambda x : x.var(),axis=1)
    data['표준편차'] = data.apply(lambda x : x.std(),axis=1)
    data['왜도'] = data.apply(lambda x : x.skew(),axis=1)
    data['첨도'] = data.apply(lambda x : x.var(),axis=1)

total(data)
data

학생의 이름, 국어, 영어, 수학 점수를 입력하시오이준협,100,95,80
학생의 이름, 국어, 영어, 수학 점수를 입력하시오정예원,100,100,100
학생의 이름, 국어, 영어, 수학 점수를 입력하시오전고은,80,70,60
학생의 이름, 국어, 영어, 수학 점수를 입력하시오이준땡,80,67,50
학생의 이름, 국어, 영어, 수학 점수를 입력하시오정똥고,80,90,70

      국어   영어   수학   합계     평균       분산         표준편차        왜도            첨도
이준협  100   95   80  275  137.5  6356.25  2539.795319  2.023419  5.069578e+06
정예원  100  100  100  300  150.0  7500.00  3001.624560  2.019941  7.081670e+06
전고은   80   70   60  210  105.0  3725.00  1478.866683  2.037079  1.718185e+06
이준땡   80   67   50  197   98.5  3347.25  1327.305752  2.039415  1.383969e+06
정똥고   80   90   70  240  120.0  4850.00  1932.018806  2.029988  2.933011e+06